[Unit]
Description=Set CPU governor
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cpupower frequency-set -g {{CPU_GOVERNOR}}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
