[mgr]
show_hidden = true
show_symlink = true
sort_by = "natural"
sort_dir_first = true
linemode = "size"

[preview]
max_width = 1000
max_height = 1000

[opener]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open", for = "linux" },
]
